---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GOLF le FLEUR*">
	<main>
		<div class="div-img"></div>
		<div class="div-img div-2"></div>
	</main>
</Layout>

<style>
	.div-img {
		background-image: url('../../public/images/image1.webp');
		background-size: cover;
		background-position: bottom;
		height: 95vh;
	}

	.div-2 {
		background-image: url('../../public/images/image2.jpg');
	}
</style>