---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Payment">
    <h1>PAYMENT</h1>
    <a href="/">home</a>
</Layout>

<style>
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: gray;
    }
</style>